extends layout

block content
  h1 Books
  p
    a(class="button" href="/books/new") Create New book
    form(action="/books/search", method="post")
      label(for="search")
      button.button(type="submit" value="search") Search
      input(type="text" name="search" placeholder="Search by title,author,name,year...")

  table 
    thead 
      tr 
        th Title 
        th Author
        th Genre 
        th Year 
      each book in books 
        tr 
          td 
            a(href="/books/" + book.id)=  book.title
          td= book.author 
          td= book.genre 
          td= book.year

  div
